@font-face {
   font-family: 'Montserrat-Regular copy';
   font-display: swap;
   src: url('FZLTXHJW.TTF');
}
@font-face {
   font-family: 'Montserrat-Bold copy';
   font-display: swap;
   src: url('FZLTZHUNHJW.TTF');
}
@font-face {
   font-family: 'Montserrat-Black copy';
   font-display: swap;
   src: url('FZLTZHJW.TTF');
}
