@font-face {
   font-family: 'Montserrat-Bold copy';
   font-display: swap;
   src: url('file:///Users/juliechanal/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-08-27_224650/fonts/Montserrat-Bold%20copy/font.ttf');
}
